<!-- Favicons -->
<link href="/img/logo.png" rel="icon">
<link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
<link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
<link href="/vendor/venobox/venobox.css" rel="stylesheet">
<link href="/vendor/aos/aos.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="/css/style.css" rel="stylesheet">

  

  <main id="main">
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <h3>Find Out More <span>About Us</span></h3>
          <p>Introducing You to the Innovation Technial Wing at CAREER DREAMS EDUCATIONS We bring you</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
            <img src="/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>Technophilia 1.0.</h3>
<h6>Innovations for Life</h6>
            <p class="font-italic">
              Technophilia signifying A strong enthusiasm for technology, cherishing
New technologies , Building Contemporary TechKnowledge with LifeOriented TechSolutions ; that's what We do share at Technophilia 1.0.</p>
 <p class="font-italic">We are a bunch of Technology freaks So Called 1st Generation Technophilians ,solemnly committed for Conceptualizing, initiating and creating varied Technical Tools and TechPromotion Platforms,Pooling up Tech Orieted Minds and TechPassion at one Place.</p>
            </p>
            <ul>
              <li>
                <i class="bx bx-store-alt"></i>
                <div>
                  <h5>Serving as an Virtual TechLab - A Research Lab</h5>
                  <p>Technophilia 1.0 nurtures Young Innovations, Expanding the Wings of Fire , soaring High into the Infinity that Unleashes the Era of Technology .</p>
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  <h5>A Legion of TechExperts, TechProfessionals, TechDevelopers, TechFaculties</h5>
                  <p>Technophilia 1.0 is an Euphoria for TechLovers where Innovation for Life, underlines our every Endeavour, Towards a Better Future, A Better World, A Better Life .</p>
                </div>
              </li>
              <li>
              <i class="bx bx-store-alt"></i>
                <div>
                  <h5>We Provide to Our Clients</h5>
                  <p>We serve all our Clients with the most Tech--Friendly yet Professional and Client Customized Approach.Technophilia 1.0 upholds the Vision of Interest,, Initiative and Innovations, Exhibiting Core Committed Concrete Efforts, backed up by Sound and Proficient Technical Team,Upgraded Knowledge , Persistent Research and Extensive Resource Compilation.</p>


                </div>
              </li>
            </ul>
             
    </div>

    <p> Ushering into the Next Decade, We hereby bring you a Core Comprehensive Gateway to Technology, serving the Tech-Needs of every Individual who seeks Quality Solutions with the Ease of Handing TechIssues. With a Multi Dimensional working orientation and Strategic Moduling Approach, We offer High Standard services in Website Designing & Development, Androids & App Development, Graphics Designing, SEO Management with Digital Marketing, E-Commerce Handling, Social Media Handling and Many more.</p>
   <p>We at Technophilia 1.0, strive for Excellence, forging Long run Professional Relationships,  based on Trust, Honesty and Reliance . With All our Heartiest respect and gratitude,We Welcome You to the World of Innovations _ – Technophilia 1.0 , seeking Innovations for Life</p>

      
    </div>
      <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">20</span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">20</span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">50</span>
              <p>No Of Technophilian</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">6</span>
              <p>No of Core Technophilian</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->


    </section><!-- End About Section -->

   
    <!-- =======  Activities Section ======= -->
    <section id="Activities" class="featured-services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Activities</h2>
          <h3>Check our <span>Activities</span></h3>
          <p>We are  Working these Activities in the Internship At Technophilia</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">TECHNICAL HR MANAGEMENT</a></h4>
              <p class="list"> <ul>
  <li> Core Recruitment </li>

<li>Calling Management</li>

 <li>HR Database Management </li>
 <li>Certification & Documentation
Management </li>
</ul>  
</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">TECHNICAL MARKETING </a></h4>
              <p class="list">
              <li>Technical Product Marketing</li> 
<li>Technical Courses Marketing</li> 
<li> Institutional Marketing</li>
<li>Social Media Marketing</li> 
 <li>Technical Event Marketing</li> </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">TECHNICAL CONTENT WRITING</a></h4>
              <li>Textual Content Writing & Compilation</li> 
<li> Images & Graphics Designing</li>
<li>Videos and MP4 Designing & Formatting</li> 

            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">RESEARCH & ANALYSIS WING</a></h4>
              <li>Innovation & Incubation Assistance </li> 
<li> Technical Feasibility Analysis</li>
<li>TechSolutions to Business Challenges</li>
<li>Technical Client Customization</li>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    
    

    

    
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <h3>Check our <span>Services</span></h3>
          <h6>We are providing internship in many Areas</h6>
        </div>

        <div class="row">
             
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div onclick="location.href='/internship/internship_registration_page'" class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4><a href="">Web Designing & Development</a></h4>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>
            

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div onclick="location.href='/internship/internship_registration_page'" class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Android & App Development </a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div onclick="location.href='/internship/internship_registration_page'" class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Graphics Designing </a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div onclick="location.href='/internship/internship_registration_page'" class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">SEO & Digital Marketing </a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div onclick="location.href='/internship/internship_registration_page'" class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">E – Commerce Handling</a></h4>
              <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div onclick="location.href='/internship/internship_registration_page'" class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Social Media Handling </a></h4>
              <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    

   

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <h3>Our Hardworking Technophilian <span>Team</span></h3>
          
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/Karthik1.jpg" class="img-fluid" alt="Karthik1" height="300" width="450">
                
              </div>
              <div class="member-info">
                <h4>KARTHIK GOTHWAL</h4>
                <p>Founder and Managing Head At Career Dreams Educations</p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/Vinayak.jpeg" class="img-fluid" alt="Vinayak"  height="300" width="450">
               
              </div>
              <div class="member-info">
                <h4>VINAYAK SAXENA </h4>
                <p>Executive and Marketing Head At Career Dreams Educations</p>
               
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/renu.jpeg" class="img-fluid" alt="RENU" height="300" width="450">
                
              </div>
              <div class="member-info">
                <h4>DR.RENU BOHRA</h4>
                <p>Central Counseling Head and the Administrative Head  At Career Dreams Educations</p>
               
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/jaya.jpeg" class="img-fluid" alt="JAYA"  height="300" width="450">
                
              </div>
              <div class="member-info">
                <h4>JAYA PAWAR</h4>
                <p>Knowledge Partner At Career Dreams Educations</p>
                
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <h3>Our Hardworking CORE Technophilian <span>Team</span></h3>
          
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/team-2.jpg" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>RIYA JAIN</h4>
                <span>Assistant Executive Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/team-1.jpg" class="img-fluid" alt="">
                
               
              </div>
              <div class="member-info">
                <h4>AAMIR IQWAL</h4>
                <span>Web Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/team-3.jpg" class="img-fluid" alt="">
               
              </div>
              <div class="member-info">
                <h4>TUSHAR KUMAR </h4>
                <span>Web Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="/img/team/team-4.jpg" class="img-fluid" alt="">
                
              </div>
              <div class="member-info">
                <h4>NEELAKSHI</h4>
                <span>Web Developer</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->
    


    <!-- ======= Pricing Section ======= -->
    <section id="courses" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Courses</h2>
          <h3>Check our <span>Courses</span></h3>
          <p>Technophilia Provide web development course as well as Designing Website for Business Purpose</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box featured">
              <h3>Full Stack Web Devlopment Course </h3>
              <h4>6200<sub>RS</sub><span> / 75 Days</span></h4>
              <ul>
                <li>FrontEnd+ BackEnd Course</li>
                <li>FrontEnd :- Html ,Css , JavaScript,Boostrap</li>
                <li>BackEnd :- PHP ,Ajax</li>
                <li>WordPress Basic Knowledge</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Registration</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Front-End Web Development Course </h3>
              <h4>3100<sub>RS</sub><span> / 75 Days</span></h4>
              <ul>
                <li>Front_End Course</li>
                <li>HTML , CSS</li>
                <li>JAVA-SCRIPT</li>
                <li>BOOSTRAP ,WORD-PRESS Basic Knowledge</li>
                
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Registration</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box featured">
              <h3>Back-End Web Development Course </h3>
              <h4>3100<sub>RS</sub><span> / 75 Days</span></h4>
              <ul>
                <li>Back_End Course</li>
                <li>PHP</li>
                <li>MY SQL DATA BASE</li>
                <li>XAMP SERVER FULL KNOWLEDGE</li>
               </li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Registration</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box featured">
              <span class="advanced">Advanced</span>
              <h3> Design Website for  Business Purpose </h3> 
              
              <span> We Can Design A Website For Business Purpose</span>
              <ul>
              </br>
                <li>Responsive Website</li>
                <li>E-Comerce Website</li>
                <li> We can design website for College & companey</li>
                <li>Any Type of Daynamic Website</li>
               
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Order</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <h3><span>Contact Us</span></h3>
          
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>B-5, Divya Mall, Opp. Apex Complex, Lal Kothi Jaipur-302015, Rajasthan</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>careerdreamseducations@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+91 9660641816</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6 ">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3558.461349519708!2d75.80106906436531!3d26.888849717591473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396db5c743197aaf%3A0x2273d8dfe0be08b9!2sCareer%20dreams%20Educations!5e0!3m2!1sen!2sin!4v1611067902049!5m2!1sen!2sin" width="100%" height="384 px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div classcol form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>
  <script src="/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/vendor/counterup/counterup.min.js"></script>
  <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/venobox/venobox.min.js"></script>
  <script src="/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>